<!DOCTYPE html>
<html class="h-100">
	<head>
		<meta charset="UTF-8">
		<title>
			{{ app_name }}
			-
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<div class="container">
			<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
				<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
					<span class="fs-4">{{ app_name }}</span>
				</a>

				<ul class="nav nav-pills">
                    {% for item in menu %}
                        <li class="nav-item">
                            <a
                                href="{{ path(item.route|e) }}"
                                class="nav-link {% if item.route|e is same as (app.request.attributes.get('_route')) %} active {% endif %}"
                                aria-current="page"
                            >
                                {{ item.name|e }}
                            </a>
                        </li>
                    {% endfor %}
				</ul>

			</header>
			<main class="px-3">
                {% block body %}{% endblock %}
			</main>
		</div>
	</body>
</html>
